# Python artifacts
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.venv
env/
venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs and caches
*.log
*.out
*.err
*.tmp
*.temp
.cache/
*.coverage
pytest_cache/

# ML artifacts
*.h5
*.ckpt
*.pth
*.pt
*.onnx
*.joblib
*.pkl
*.npy
*.npz

# Dataset files
*.csv
*.tsv
*.parquet
*.json
*.xlsx

# OS-specific files
.DS_Store
Thumbs.db

# data
# data/

# tmp
tmp/

# kokoroTTS
kokoroTTS/misaki
kokoroTTS/*json
kokoroTTS/wav/*
kokoroTTS/wav_af_bella/*
kokoroTTS/ja_words.txt
kokoroTTS/chatbot-arena-spoken-1turn-english-whisper-transcript.jsonl
# lexical-context-chatbot-arena/experiments

# speech-quality
speech-quality/data/verbosity
speech-quality/experiments/somos
speech-quality/experiments/thaimos
speech-quality/experiments/tmhintqi
speech-quality/experiments/tts_arena

# style control
paralinguistic/data-gpt-style/gpt*.wav
paralinguistic/data-gpt-style/batch1_generated_gpt_audio/
paralinguistic/data-gpt-style/refined_questions/
paralinguistic/data-gpt-style/refined_questions_kokoro_wav/
paralinguistic/data-gpt-style/batch1_generated_gpt_audio_question/

# elevenLabs
paralinguistic/data-elevenLabs/generated_11labs_audio/
paralinguistic/data-elevenLabs/generated_kokoro_audio/
paralinguistic/data-elevenLabs/refined_questions/
paralinguistic/data-elevenLabs/refined_questions_kokoro_wav/
paralinguistic/data-elevenLabs/data-chatbot-arena-spoken-style-11labs/
paralinguistic/data-elevenLabs/refined_questions_kokoro_wav_v1.5
paralinguistic/data-elevenLabs/refined_questions_kokoro_wav_v1.6
paralinguistic/data-elevenLabs/refined_questions_kokoro_wav_v1.7
paralinguistic/data-elevenLabs/refined_questions_v1.5
paralinguistic/data-elevenLabs/refined_questions_v1.6
paralinguistic/data-elevenLabs/refined_questions_v1.7
paralinguistic/data-elevenLabs/refined_questions_v2

# leaderboard (alpaca-eval like)
eval-leaderboard/experiments/
eval-leaderboard/judge_outputs/
eval-leaderboard/judge_outputs_v0/
eval-leaderboard/*.wav
eval-leaderboard/misaki

# other temp files
eval-leaderboard/inference_advvoiceq1_moshi_Backup.py
eval-leaderboard/inference_advvoiceq1_moshi_notwork.py
eval-leaderboard/leaderboard-exp2.1.ipynb

# advvoiceq1
advanced-voice-gen-task-v1/classification/*.pdf
advanced-voice-gen-task-v1/questions1_kokoro_wav
advanced-voice-gen-task-v1/classification/adv_v1/

*.pdf