# Python artifacts
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.venv
env/
venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs and caches
*.log
*.out
*.err
*.tmp
*.temp
.cache/
*.coverage
pytest_cache/

# ML artifacts
*.h5
*.ckpt
*.pth
*.pt
*.onnx
*.joblib
*.pkl
*.npy
*.npz

# Dataset files
*.csv
*.tsv
*.parquet
*.json
*.xlsx

# OS-specific files
.DS_Store
Thumbs.db

# data
data/

# tmp
tmp/

# chatbot arena
chatbot-arena/kokoroTTS/misaki
chatbot-arena/kokoroTTS/*json
chatbot-arena/kokoroTTS/wav/*
chatbot-arena/kokoroTTS/wav_af_bella/*
chatbot-arena/kokoroTTS/ja_words.txt
chatbot-arena/kokoroTTS/chatbot-arena-spoken-1turn-english-whisper-transcript.jsonl
chatbot-arena/experiments

# style control
style-control/gpt*.wav
style-control/batch1_generated_gpt_audio/
style-control/refined_questions/
style-control/refined_questions_kokoro_wav/
style-control/batch1_generated_gpt_audio_question/

# elevenLabs
elevenLabs/generated_11labs_audio/
elevenLabs/generated_kokoro_audio/
elevenLabs/refined_questions/
elevenLabs/refined_questions_kokoro_wav/
elevenLabs/data-chatbot-arena-spoken-style-11labs/
elevenLabs/refined_questions_kokoro_wav_v1.5
elevenLabs/refined_questions_kokoro_wav_v1.6
elevenLabs/refined_questions_kokoro_wav_v1.7
elevenLabs/refined_questions_v1.5
elevenLabs/refined_questions_v1.6
elevenLabs/refined_questions_v1.7
elevenLabs/refined_questions_v2

# leaderboard (alpaca-eval like)
eval-leaderboard/experiments/
eval-leaderboard/judge_outputs/
eval-leaderboard/judge_outputs_v0/
eval-leaderboard/*.wav
eval-leaderboard/misaki

# other temp files
eval-leaderboard/inference_advvoiceq1_moshi_Backup.py
eval-leaderboard/inference_advvoiceq1_moshi_notwork.py
eval-leaderboard/leaderboard-exp2.1.ipynb

# advvoiceq1
advanced-voice-gen-task-v1/classification/*.pdf
advanced-voice-gen-task-v1/questions1_kokoro_wav
advanced-voice-gen-task-v1/classification/adv_v1/